<?xml version="1.0" encoding="utf-8" ?>
<nlog
  xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<extension>
		<add assmbley="ReportPortal.log"></add>
	</extension>
	<targets>
		<target xsi:type="Console"  name="logconsole" layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />
		<target name="logfile" xsi:type="logfile" fileName="automation-log.txt"/>
		<target name="RP"  xsi:type="ReportPortal" />
	</targets>
	<rules>
		<logger name="*" minlevel="Debug" writeTo="console" />
	</rules>
</nlog>
